<%- include("partials/navbar.ejs") %>

    <div class="container min-vh-100 d-flex align-items-center flex-column shadow p-3 mb-5 bg-body rounded">
      <%- include("partials/flash.ejs") %>
      <div class="w-75">
        <h1 class="h4 text-muted text-center mt-5">All Posts</h1>
        <% posts.forEach(post => { %>
            <p class="p-3 mb-3 mt-5 border rounded text-break text-secondary"><%= post.content %></p>
            <p class="text-primary">Created By <%= post.author.username %><p/>
            <p class="text-primary">Date: <%= post.date %><p/>
              <div class="d-flex flex-row bd-highlight mb-3 ">
            <form action="/posts" method="POST">
                <input type="checkbox" class="btn-check" id="isLiked" autocomplete="off" name="isLiked">
                <label class="btn btn-outline-primary mt-4" for="isLiked">Like</label>
            </form>
            <% if(currentUser && post.author.equals(currentUser._id)) { %> 
              <div class="btn-group mt-4 ms-1" role="group" aria-label="Basic example">
                <a role="button" href="/updatepost/<%= post.id %>" class="btn btn-primary">Update</a>
                <form action="/<%= post.id %>?_method=DELETE" method="POST"><button type="submit" class="btn btn-primary ms-1">Delete</button></form>
              </div>
            </div>
            <% } %> 
        <% }) %>
      </div>
    </div>

<%- include("partials/footer.ejs") %> 

