<%- include("partials/navbar.ejs") %>

 
      <%- include("partials/flash.ejs") %>
      <div class="d-flex align-items-center flex-column">
        <h1 class="bg-light text-dark p-4 rounded-pill mb-5 shadow">Profiles</h1>
        <form action="/profiles/search" class="d-flex mb-5">
          <input type="search" class="form-control me-2" placeholder="Search for a profile..." name="search">
          <button class="btn btn-outline-primary">Search</button>
        </form>
        <% searchedProfiles.forEach(profile => { %>
        <div class="card col-12 col-lg-4 shadow mb-3">
          <div class="card-header">This is the profile of <span class="fw-bold"><%= profile.username %></span></div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">First Name: <%= profile.firstName %></li>
              <li class="list-group-item">Last Name: <%= profile.lastName %></li>
              <li class="list-group-item">Phone: <%= profile.phone %></li>
              <li class="list-group-item">Address: <%= profile.address %></li>
              <li class="list-group-item">Birthday: <%= profile.birthday %></li>
            </ul>
            <div class="card-body">
                <h5 class="card-title">Hobbies</h5>
                <p class="card-text"><%= profile.hobbies %></p>
            </div>
            <div class="card-body">
              <% if(currentUser && profile._id.equals(currentUser._id)) { %> 
                <form action="/deleteprofile/<%= profile.id %>?_method=DELETE" method="POST">
                <div class="btn-group">
                    <a role="button" href="/updateprofile/<%= profile.id %>" class="btn btn-outline-dark text-capitalize mb-2">Update</a>
                      <button type="submit" class="btn btn-outline-danger text-capitalize mb-2">Delete</button>
                  </div>
                </form>
                <% } %> 
            </div>
      </div>
     
        <% }) %> 
      </div>

<%- include("partials/footer.ejs") %>