<%- include("partials/navbar.ejs") %>

    <div class="container min-vh-100">
      <div class="d-flex justify-content-center align-items-center min-vh-100 flex-column">
        <h1>Update Profile</h1>

        <form action="/updateprofile/<%= profile.id %>?_method=PUT" method="POST">
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" name="firstName" value='<%= profile.firstName %>'>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value='<%= profile.lastName %>'>
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value='<%= profile.phone %>'>
                  </div>
                  <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address" value='<%= profile.address %>'>
                  </div>
                  <div class="mb-3">
                    <label for="birthday" class="form-label">Birthday</label>
                    <input type="text" class="form-control" id="birthday" name="birthday" value='<%= profile.birthday %>'>
                  </div>
                  <div class="mb-3">
                    <label for="hobbies">Hobbies</label>
                    <textarea class="form-control" placeholder="Write your hobbies here" id="hobbies" name="hobbies"><%= profile.hobbies %></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<%- include("partials/footer.ejs") %>
