<%- include("partials/navbar.ejs") %>

<div class="d-flex align-items-center flex-column">
  <%- include("partials/flash.ejs") %>
  <h1 class="bg-light text-dark p-4 rounded-pill mb-5 shadow">Update User</h1>
  <div class="card col-12 col-lg-4">
    <div class="card-body shadow">
      <form action='/updateuser/<%= user._id %>?_method=PUT' method='POST'>
        <div>
            <label for="username" class="form-label">Username</label>
            <input value="<%= user.username%>" type="text" class="form-control" id="username" name='username' required>
          </div>
        <div>
          <label for="email" class="form-label">Email</label>
          <input value="<%= user.email%>" type="email" class="form-control" id="email" name='email' required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input value="<%= user.password%>" type="password" class="form-control" id="password" name='password' required>
        </div>
          <button type="submit" class="btn btn-success rounded rounded-3">Update</button>
      </form>
    </div>
  </div>


</div>


<%- include("partials/footer.ejs") %>